body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: rgb(218, 218, 218);
    height: 50vh;
    width: 100%;
}

.contener {
    display: flex;
    justify-content: space-around;
    height: 90%;
}

a {
    text-decoration: none;
    color: black;
}

#img {
    height: 100px;
    width: 220px;
}

.footer-div {
    display: flex;
    flex-direction: column;
    line-height: 35px;
}

.footer-input {
    display: flex;
}

.footer-bot {
    display: flex;
    justify-content: space-between;
}

.footer-bot {
    height: 10%;
}

.div-img {
    margin-top: 50px;
}

h3 {
    color: rgb(160, 160, 160);
}

#btn {
    background-color: black;
    color: white;
    border: 0;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}